/* -------------------------------- */
/* Page d'accueil                   */
/* -------------------------------- */

/* Titre */
@font-face {
    font-family: 'TAN Headline';
    src: url('../fonts/TANHEADLINE-Regular.ttf') format('truetype');
}

.main-title {
    font-family: 'TAN Headline', serif;
    font-size: 100px;
    text-align: center;
    color: #0072ff;
    margin-top: 280px;
}

.nom {
    font-family: 'Raleway', serif;
    font-size: 50px;
}

/* Bouton projets */
.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.projets-button {
    background: #0072ff;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Raleway', serif;
    box-shadow: 0px 5px 15px rgba(0, 114, 255, 0.3);
    display: inline-block;
    margin-top: 1.5rem;
}

.projets-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 114, 255, 0.6);
}

/* Corps de la page */
body {
    background-color: #FFCDE8;
    font-family: 'Raleway', sans-serif;
    color: #333;
    line-height: 1.7;
    font-size: 1.1rem;
    padding: 2rem;
    max-width: 960px;
    margin: auto;
}

/* Couleurs */

.bleu {
    color:#0072ff ;
}

/* Images */
.nuage {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    animation: float 5s ease-in-out infinite;
    opacity: 0.6;
}

.nuage2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    transform: rotate(180deg);
    animation: float 5s ease-in-out infinite;
    opacity: 0.6;
}


.etoile {
    position: absolute;
    width: 10%;
    bottom: 65%;
    left: 68%;
    transform: translateX(-50%);
}

.pp {
  display: block;
  margin: 40px auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Animation */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

/* Paragraphe + titres */
p {
    margin-bottom: 1.5rem;
    text-align: justify;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

section {
    margin-bottom: 3rem;
}
